*{
	margin: 0;
	font-size: 0;
	box-sizing: border-box;
}
body{
	background-color:dimgray;
}
header{
	background-color: aqua;
	text-align: center;
	margin-top: 25px;
	height: 100px;
	padding-top: 25px;

}
h1{
	font-size: 35px;
}
nav{
	background-color: chocolate;
	text-align: right;
	height: 70px;
	padding-right: 25px;
	padding-top: 20px;
}
h2{
	font-size: 30px;
}

p{
	display: inline-block;
	font-size: 25px;
	width: 33.3%;
	text-align: center;
	padding-top: 230px;
}
.center{
	background-color: rgb(129, 45, 62);
	vertical-align: 25px;
	height: 500px;
}
.left{
	background-color: rgb(15, 15, 141);
	height: 450px;
	
}
.right{
	background-color: darkslateblue;
	height: 450px;
	
}
footer{
	background-color:deeppink;
	height: 100px;
	text-align: center;
	padding-top: 30px;
}